<h2> Inicio de sesion </h2>
<form action="/api/sessions/login" method="POST">
    <label for="usuario"> Usuario: </label>
    <input type="" name="usuario">
    <br><br>

    <label for="password">Contrasenia: </label>
    <input type="password" name="password" required>
    <br><br>

    <button type="submit"> Iniciar sesion </button>

</form>