<h2> Real time products </h2>
<h3>Productos actualizados en tiempo real</h3>

<div id="contenedorProductos"> </div>

<h3>Formulario para agregar productos</h3>

<form>
    <input type="text" id="title" placeholder="Titulos">
    <input type="text" id="description" placeholder="Descripcion">
    <input type="number" id="price" placeholder="Precio">
    <input type="text" id="img" value "sin imagen">
    <input type="text" id="code" placeholder="Codigo">
    <input type="number" id="stock" placeholder="Stock">
    <input type="text" id="category" placeholder="Categoria">
    <select id="status">
        <option value="true"> Activo </option>
        <option value="false"> Inactivo </option>
    </select>
    <button type="button" id="btnEnviar"> Enviar </button>
</form>

<script src="http://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="js/index.js"></script>